* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: initial;
}

.row {
  display: flex;
}

html {
  background: url(noche.webp) no-repeat center fixed;
  background-size: cover;
}

.titulo {
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.imagen {
  width: 240px;
  padding: 20px;
  justify-content: space-around;
}

.n {
  width: 240px;
}

.todo {
  justify-content: flex-end;
}

.volver {
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.e {
  background: rgb(170, 177, 65);
  background: -moz-linear-gradient(90deg, rgba(170, 177, 65, 1) 0%, rgba(27, 64, 139, 1) 34%, rgba(39, 74, 137, 1) 50%, rgba(156, 177, 80, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(170, 177, 65, 1) 0%, rgba(27, 64, 139, 1) 34%, rgba(39, 74, 137, 1) 50%, rgba(156, 177, 80, 1) 100%);
  background: linear-gradient(90deg, rgba(170, 177, 65, 1) 0%, rgba(27, 64, 139, 1) 34%, rgba(39, 74, 137, 1) 50%, rgba(156, 177, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aab141", endColorstr="#9cb150", GradientType=1);
  border-radius: 10px;
}

.d{
  width: 200px;
}